@font-face {
  font-family: 'Inter-Medium';
  src: url(/src/assets/fonts/Inter-Medium.otf);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(/src/assets/fonts/Inter-Regular.otf);
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(/src/assets/fonts/Inter-SemiBold.otf);
}

:root {
  /*--------------------- COLOR ----------------- */
  --color-primary: #29a0dc;
  --color-yellow: #ffbd3d;
  --color-red: #ff1717;
  --color-green: #41d032;
  --color-green: #dc2994;
  /* background */
  --color-black: #192a3e;
  --color-table-black: #323c47;
  --color-table-gray: #707683;
  --color-background-gray: #e5e5e5;
  /* text */
  --color-text-blue: #0b132b;
  --color-text-gray: #90a0b7;
  --color-icon-gray: #c2cfe0;
  --color-text-white: #ffffff;

  /* Typography */

  --font-regular: 'Inter-Regular';
  --font-meduim: 'Inter-Meduim';
  --font-semiBold: 'Inter-SemiBold';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter-Regular';
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

h1,
.h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  font-family: var(--font-semiBold);
}

h2,
.h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132b;
  font-family: var(--font-meduim);
}

h3,
.h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #334d6e;
  margin-bottom: 0 !important;
}

h4,
.h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.005em;
  color: #000000;
}
